/* General */

html, body
{
    height: 100%;
    font-size: 1.5rem;
    background-color: lightcoral;
}


/* container and strips */

.container
{
    display: flex;
    height: 100%;
    justify-content: center;
    background-color: lightblue;
}

.middle-strip
{
    display: flex;
    flex:1;
    height: 100%;
    width: 50%;
    background-color:lightseagreen;

}

.left-strip
 {
     display:flex;
     flex:1;
     height: 100%;
     width: 25%;
     padding-left: 0px;

     /* Tried to center text - doesn't work... */
     text-align: center;

}

.right-strip 
{
    display:flex;
    flex:1;
    height: 100%;
    width: 25%;
    padding-left: 0px;
}

/* Text */

.center {
    text-align: center;
}

